{% extends 'base.html' %}
{% load test_filter %}
{% block content %}
{% load static %}


<div class="grid-image" align="center">
    <img class="image" src="{% static 'img/11834.png' %}" width="400" height="300">
    <img class="image" src="{% static 'img/htmljscss.jpeg' %}" width="400" height="300">
</div>

<div class="grid-image" align="center">
    <img class="image" src="{% static 'img/1200px-SQLite370.svg.png' %}" width="400" height="300">
    <img class="image" src="{% static 'img/GPT-2.png' %}" width="400" height="300">
</div>
{% endblock %}

